.build-info-box {
  height: 100%;
  position: relative;
  padding-top: 25px;
  box-sizing: border-box;
  &:after {
    clear: both;
  }

  &__env-wrapper {
    width: 50%;
    float: left;
    text-align: center;
  }

  &__env-name {

  }

  &__date {
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
  }

}
