.icon {
  height: 50px;
  width: 50px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  &__pc {
    background-image: url('/assets/pc.png');
  }

}
