.info-box {
  border: 2px solid;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  @include status-color();
  @include status-border-color();

  &__title {
    font-size: 18px;
    font-weight: bold;
    height: 10%;
  }

  &__content {
    height: 90%;
    position: relative;
  }

}
