.metrics-box {
  height: 150px;
  width: 150px;
  margin: auto;
  &__info-wrapper {
    height: 50%;
    width: 50%;
    float: left;
    position: relative;
  }

  &__arrow {
    position: absolute;
    height: 34px;
    width: 25px;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $green;
    z-index: 1;
    &:after {
      content: ' ';
      position: absolute;
      border: 25px solid transparent;
      top: -50px;
      left: -12px;
      border-bottom-color: $green;
    }
    &_right {
      transform: rotate(90deg) translate(-125%, 60%);
      background-color: $yellow;
      &:after {
        border-bottom-color: $yellow;
      }
    }
    &_bottom {
      transform: rotate(180deg) translate(50%, 110%);
      background-color: $red;
      &:after {
        border-bottom-color: $red;
      }
    }
  }

  &__value {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: darkgray;
    font-weight: bold;
  }

  &__title {
    bottom: 0;
    font-size: 12px;
    position: absolute;
    text-align: center;
    width: 100%;
  }

}
