.status-runner {
  height: 100%;
  width: 45px;
  box-sizing: border-box;
  border: 2px solid $gray;

  &__progress {
    height: 100%;
    width: 41px;
    @include status-background-color();
  }

}
