.target-table {
  background-color: light-blue;
  width: 980px;
  &__header {
    width: 100%;
    height: 20px;
    &:after {
      content: ' ';
      clear: both;
    }
  }

  &__header-title {
    width: 11%;
    float: left;
    height: 100%;
    font-size: 14px;
    &_double-width {
      width: 16%;
    }
  }

  &__content {
    width: 100%;
  }

  &__item {
    width: 100%;
    height: 40px;
    border: 2px solid;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    &:after {
      content: ' ';
      clear: both;
    }
    &_expanded {
      height: 250px;
    }
    @include status-color();
    @include status-border-color();
  }

  &__item-icon {
    margin: 0 5px;
  }

  &__item-wrapper {
    height: 26px;
    width: 100%;
  }

  &__item-cell {
    width: 11%;
    float: left;
    height: 100%;
    line-height: 1.6em;
    text-transform: capitalize;
    &_double-width {
      width: 16%;
    }
  }

  &__expand-wrapper {
    height: 175px;
    margin-top: 15px;
  }

  &__info-wrapper {
    height: 175px;
    width: 175px;
    float: left;
    margin-right: 5px;
    margin-left: 5px;
  }

}
