.test-info-box {
  height: 100%;
  width: 100%;
  &:after {
    clear: both;
  }

  &__chart-wrapper {
    height: 115px;
  }

  &__chart {
    margin: 5px 0;
    display: block;
    float: left;
    width: 100px;
    height: 100px;
  }

  &__chart-info {
    width: 70px;
    height: 100px;
    float: left;
    padding-top: 30px;
  }

  &__chart-info-percent {
    font-size: 32px;
    text-align: center;
    margin: 0 auto;
    @include condition-color;
  }

  &__chart-info-status-text {
    font-size: 12px;
    text-align: center;
    margin: 0 auto;
  }

  &__progress-wrapper {
    height: 30px;
    width: 90%;
    background-color: red;
    position: relative;
    margin: auto;
  }

  &__progress-bar {
    position: absolute;
    z-index: 1;
    height: 100%;
    background-color: $green;
  }

  &__progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    font-weight: bold;
  }

}
