<div class="target-table__item-wrapper">
  <div class="target-table__item-cell target-table__item-cell_double-width">
    <i class={{iconClass}}></i>
    {{target.title}}
  </div>
  <div class="target-table__item-cell">
    {{target.owner}}
  </div>
  <div class="target-table__item-cell target-table__item-cell_double-width">
    {{buildDate}}
  </div>
  <div class="target-table__item-cell">
    {{buildStatus}}
  </div>
  <div class="target-table__item-cell">
    {{status-runner model=target.currentBuild.metric}}
  </div>
  <div class="target-table__item-cell">
    {{status-runner model=target.currentBuild.buildInfo}}
  </div>
  <div class="target-table__item-cell">
    {{status-runner model=target.currentBuild.unitTest}}
  </div>
  <div class="target-table__item-cell">
    {{status-runner model=target.currentBuild.functionalTest}}
  </div>
</div>
{{#if isExpanded}}
<div class="target-table__expand-wrapper">
  <div class="target-table__info-wrapper">
    {{metrics-box model=target.currentBuild.metric}}
  </div>
  <div class="target-table__info-wrapper">
    {{build-info-box model=target.currentBuild.buildInfo}}
  </div>
  <div class="target-table__info-wrapper">
    {{test-info-box title='Unit Test' model=target.currentBuild.unitTest}}
  </div>
  <div class="target-table__info-wrapper">
    {{test-info-box title='Functional Test' model=target.currentBuild.functionalTest}}
  </div>
</div>
{{/if}}
