<div class="build-info-box">
  <div class="build-info-box__env-wrapper">
    <div class="icon icon__pc"></div>
    <div class="build-info-box__env-name">
      Release
    </div>
  </div>
  <div class="build-info-box__env-wrapper">
    <div class="icon icon__pc"></div>
    <div class="build-info-box__env-name">
      Staging
    </div>
  </div>
  <div class="build-info-box__date">
    12-32-2017 12:30:12
  </div>
</div>
