<div class="metrics-box">
  <div class="metrics-box__info-wrapper">
    <div class={{testClass}}></div>
    <div class="metrics-box__value">
      {{model.testValue}}
    </div>
    <div class="metrics-box__title">
      Tests
    </div>
  </div>
  <div class="metrics-box__info-wrapper">
    <div class={{maintainabilityClass}}></div>
    <div class="metrics-box__value">
      {{model.maintainabilityValue}}
    </div>
    <div class="metrics-box__title">
      Maintainability
    </div>
  </div>
  <div class="metrics-box__info-wrapper">
    <div class={{securityClass}}></div>
    <div class="metrics-box__value">
      {{model.securityValue}}
    </div>
    <div class="metrics-box__title">
      Security
    </div>
  </div>
  <div class="metrics-box__info-wrapper">
    <div class={{workmanshipClass}}></div>
    <div class="metrics-box__value">
      {{model.workmanshipValue}}
    </div>
    <div class="metrics-box__title">
      Workmanship
    </div>
  </div>
</div>
