<div class="test-info-box">
  <div class="test-info-box__chart-wrapper">
    {{ember-chart type='Pie' data=chartData options=chartOptions width=100 height=100 classNames='test-info-box__chart'}}
    <div class="test-info-box__chart-info">
      <div class="test-info-box__chart-info-percent">
        {{testPercent}}%
      </div>
      <div class="test-info-box__chart-info-status-text">
        {{testTextStatus}} tests
      </div>
    </div>
  </div>

  <div class="test-info-box__progress-wrapper">
    <div class="test-info-box__progress-bar" style={{coverageProgress}}></div>
    <div class="test-info-box__progress-text">
      {{model.codeCoverage}}%
    </div>
  </div>
</div>
