@mixin status-color {
  &_gray {
    color: $gray;
  }
  &_blue {
    color: $blue;
  }
  &_green {
    color: $green;
  }
  &_red {
    color: $red;
  }
}

@mixin status-border-color {
  &_gray {
    border-color: $gray;
  }
  &_blue {
    border-color: $blue;
  }
  &_green {
    border-color: $green;
  }
  &_red {
    border-color: $red;
  }
}

@mixin status-background-color {
  &_gray {
    background-color: lighten($gray, 10%);
  }
  &_blue {
    background-color: lighten($blue, 10%);
  }
  &_green {
    background-color: lighten($green, 10%);
  }
  &_red {
    background-color: lighten($red, 10%);
  }
}

@mixin condition-color {
  &_green {
    color: $green;
  }
  &_yellow {
    color: $yellow;
  }
  &_red {
    color: $red;
  }
}
