<div class="target-table">
  <div class="target-table__header">
    <div class="target-table__header-title target-table__header-title_double-width">
      Changelist / Build
    </div>
    <div class="target-table__header-title">
      Owner
    </div>
    <div class="target-table__header-title target-table__header-title_double-width">
      Time Started
    </div>
    <div class="target-table__header-title">
      State
    </div>
    <div class="target-table__header-title">
      Metrics
    </div>
    <div class="target-table__header-title">
      Build
    </div>
    <div class="target-table__header-title">
      Unit Test
    </div>
    <div class="target-table__header-title">
      Functional Test
    </div>
  </div>
  <div class="target-table__content">
    {{#each model as |target|}}
      {{target-item target=target classNames='target-table__item' openedItem=openedItem}}
    {{/each}}
  </div>
</div>
